/* About Us */
#about-us {
    /* height: 6vh; */
    width: 100%;
    margin: 4rem 0;
}

.about-us-bs {
    width: calc(100% - 6vw);
    display: block;
    margin: 4vw 3vw;
    background-color: #001233;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3vw 0;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 2px 2px 3px #00FFFF;
    border: 1px solid #00FFFF;
    border-top: 0px;
}

.about-us .aboutUs-heading {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 0 5vw;
    background: linear-gradient(#656973, #CAC0B3, #656973);
    color: #001233;
    min-height: 55px;
}

.about-us .aboutUs-heading h2 {
    margin-bottom: 0;
}

.aboutUs-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.about-us .aboutUs-content1,
.about-us .aboutUs-content2-1,
.about-us .aboutUs-content2-2 {
    display: flex;
    width: 50%;
    overflow: hidden;
}

.about-us .aboutUs-content2-1 {
    display: none;
}

.about-us .aboutUs-content2-1,
.about-us .aboutUs-content2-2 {
    position: relative;
    justify-content: center;
    align-items: center;
}

.about-us .aboutUs-content .aboutUs-text-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5vw;
    overflow: hidden;
}

.aboutUs-text-btn>* {
    margin: 1vw;
}

.about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text {
    width: 90%;
    min-height: 300px;
    font-size: calc(0.9rem - 0.4px);
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    text-align: center;
}

.about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text:hover {
    transition: transform 0.4s;
    transform: scale(1.1);
}

.about-us .aboutUs-content .aboutUs-text-btn .aboutUs-btn button {
    background-color: #FF595A;
    color: #001233;
    height: 3em;
    width: 10em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    text-wrap: nowrap;
    border: 2px solid #CAC0B3;
}

.about-us .aboutUs-content .aboutUs-text-btn .aboutUs-btn button p {
    display: inline-block;
    margin: 3px;
}

.about-us .aboutUs-content .aboutUs-text-btn .aboutUs-btn button:hover p:nth-child(2) {
    transform: translateX(3px) scale(1.2);
    transition: transform 0.6s;
}

.about-us .aboutUs-image2-1,
.about-us .aboutUs-image2-2 {
    min-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-us .aboutUs-image2-1 .aboutUs-image-hover-effect2-1,
.about-us .aboutUs-image2-2 .aboutUs-image-hover-effect2-2 {
    position: relative;
    width: 90%;
    height: 0;
    padding-top: 80%;
    overflow: hidden;
}

.about-us .aboutUs-image2-1 img,
.about-us .aboutUs-image2-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
}

.about-us .aboutUs-image2-1 img:hover,
.about-us .aboutUs-image2-2 img:hover {
    transform: scale(1.2);
}

.animated-aboutUsImg {
    animation: rotateAbUsImg 2s ease-in;
}

.animated-aboutUsTxtBtn {
    animation: rotateAbUsTxtBtn 2s ease-in;
}

@media screen and (max-width: 1000px){
    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text {
        font-size: calc(0.9rem - 0.6px);
        line-height: 1.3rem;
        word-spacing: 0.1rem;
        text-align: justify;
    }
    
    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text p{
        padding: 3vw;
    }
}

@media (max-width: 850px) {
    .about-us .aboutUs-content2-2 {
        display: none;
    }
    
    .about-us .aboutUs-content2-1 {
        display: flex;
        width: 100%;
        opacity: 0.4;
    }

    .about-us .aboutUs-image2-1 .aboutUs-image-hover-effect2-1{
        padding-top: 60%;
    }

    .about-us .aboutUs-content1{
        position: absolute;
        width: calc(100% - 6vw);
        height: 55vw;
    }

    .about-us .aboutUs-content .aboutUs-text-btn{
        justify-content: center;
    }

    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text{
        min-height: 0;
    }

    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text p{
        padding: 0;
    }

    .about-us .aboutUs-image2-1 img{
        top: 13%;
    }

    .about-us .aboutUs-image2-1 .aboutUs-image-hover-effect2-1{
        padding-top: 90%;
    }

    .about-us .aboutUs-content1{
        height: 85vw;
    }

    .about-us .aboutUs-content .aboutUs-text-btn{
        justify-content: space-evenly;
    }

}

@media (max-width: 450px) {
    .about-us .aboutUs-content .aboutUs-text-btn .aboutUs-text {
        text-align: justify;
    }
    
    .about-us .aboutUs-image2-1 .aboutUs-image-hover-effect2-1{
        padding-top: 100%;
    }

    .about-us .aboutUs-content1{
        height: 93vw;
    }
}

@keyframes rotateAbUsImg {
    from {
        transform: perspective(10000px) rotateY(-90deg);
        transform-origin: left;
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes rotateAbUsTxtBtn {
    from {
        transform: perspective(10000px) rotateY(90deg);
        transform-origin: right;
    }

    to {
        transform: rotateY(0deg);
    }
}